---
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import FoundingCta from '../components/FoundingCta.astro';
import Footer from '../components/Footer.astro';
import Pillars from '../components/Pillars.astro';
import WhySection from '../components/WhySection.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/home.css';
---

<Layout title="Earth Bridge Alliance">

  <Header />

  <main>
    <Hero />
    <Pillars />
    <WhySection />
    <FoundingCta />

    <Footer />

  </main>

</Layout>
